[defaults]
inventory           = ./inventories/hosts.ini
roles_path          = ./roles
remote_user         = vagrant
host_key_checking   = False
stdout_callback     = yaml
vault_password_file = ~/.vault_pass.txt

# [MOI] Tim roles trong Galaxy cache (~/.ansible/roles) va roles/ cung mot luc
# ansible-galaxy collection install -r requirements.yml --collections-path ./collections
collections_paths   = ./collections:~/.ansible/collections

[privilege_escalation]
become          = True
become_method   = sudo
become_user     = root
become_ask_pass = False

[ssh_connection]
pipelining = True
